<!DOCTYPE html>
<html lang="en" ng-app="mallApp">
<head>
    <meta http-equiv="content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Mall</title>
    <link href="bootstrap/bootstrap-3.3.5/css/bootstrap.css" rel="stylesheet">
    <style>
        a, a:hover {
            text-decoration: none;
        }
    </style>
    <link href="bootstrap/bootstrap-3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="angularjs/angular-1.5.8/angular.js"></script>
    <script src="angularjs/angular-1.5.8/angular-route.js"></script>
    <script src="angularjs/angular-1.5.8/angular-resource.js"></script>
    <script src="angularjs/angular-1.5.8/angular-animate.js"></script>
</head>
<body class="container" ng-controller="commodityListController">
<header class=page-header>
    <h1>Mall</h1>
</header>

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <select ng-model="orderBy" class="form-control">
            <option value="name">name</option>
            <option value="price">price</option>
        </select>
    </div>
    <div class="col-sm-4">
        <input class="form-control" placeholder="Input query condition" ng-model="query">
    </div>
</div>

<div ng-view></div>

<script>
    var mallApp = angular.module("mallApp", ["ngRoute"]);

    mallApp.controller("commodityListController", function ($scope, $http) {
        $http.get('http://localhost:8082/commodity').then(
            function(response){
                $scope.commodities = response.data;
                console.log(response)
            },
            function(errResponse){
                alert("链接错误")
            }
        );
        $scope.orderBy = "name"
    });

    mallApp.controller("commodityInfoController",function ($scope, $http,$routeParams) {
        $scope.id=$routeParams.id
    });

    mallApp.config(function ($routeProvider) {
        $routeProvider
            .when("/commodity", {
                templateUrl: "commodity/commodityList.html",
                controller: "commodityListController"
            })
            .when("/commodity/:id", {
                templateUrl: "commodity/commodityInfo.html",
                controller: "commodityInfoController"
            })
            .otherwise({
                redirectTo: "/commodity"
            });
    });

</script>
</body>
</html>