<!DOCTYPE html>
<html lang="en" ng-app="mallApp">
<head>
    <meta http-equiv="content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Mall</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <style>
        a,a:hover{
            text-decoration: none;
        }
    </style>
    <script src="https://cdn.bootcss.com/angular.js/1.5.8/angular.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.5.8/angular-route.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.5.8/angular-resource.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.5.8/angular-animate.js"></script>

    <!--<link href="/bootstrap/bootstrap-3.3.5/css/bootstrap.css" rel="stylesheet">-->
    <!--<script src="/angularjs/angular-1.5.8/angular.js"></script>-->
    <!--<script src="/angularjs/angular-1.5.8/angular-route.js"></script>-->
    <!--<script src="/angularjs/angular-1.5.8/angular-resource.js"></script>-->
    <!--<script src="/angularjs/angular-1.5.8/angular-animate.js"></script>-->
</head>
<body class="container" ng-controller="commodityController">
<header class=page-header>
    <h1>Mall</h1>
</header>

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <select ng-model="orderBy" class="form-control">
            <option value="name">name</option>
            <option value="price">price</option>
        </select>
    </div>
    <div class="col-sm-4">
        <input class="form-control" placeholder="Input query condition" ng-model="query">
    </div>
</div>

<p></p>

<ul class="list-group" >
    <li class="list-group-item"  ng-repeat="commodity in commodities | filter:query | orderBy:orderBy">
        <div class="row">
            <div class="col-sm-3">
                <a href="#/{{commodity.id}}">
                    <img src="" alt="sssss">
                </a>
            </div>
            <div class="col-sm-9">
                <blockquote>
                    <a href="#/{{commodity.id}}">
                    <h2>{{commodity.name}}</h2>
                    </a>
                    <footer>{{commodity.brand}}</footer>
                </blockquote>
                <div class="text-right">
                    <button class="btn btn-primary">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        ￥{{commodity.price}}
                    </button>
                </div>
            </div>
        </div>
    </li>
</ul>

<script>
    var mallApp = angular.module("mallApp",[])
    mallApp.controller("commodityController",function ($scope, $http) {
        $http.get('http://localhost:8082/commodity').then(
            function(response){
                $scope.commodities = response.data;
                console.log(response)
            },
            function(errResponse){
                alert("链接错误")
            }
        );
        $scope.orderBy = "name"
    });

    mallApp.controller("commodityInfoController",function ($scope, $http) {

    })

</script>
</body>
</html>