<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <select ng-model="orderBy" class="form-control">
            <option value="name">name</option>
            <option value="price">price</option>
        </select>
    </div>
    <div class="col-sm-4">
        <input class="form-control" placeholder="Input query condition" ng-model="query">
    </div>
</div>
<ul class="list-group" >
    <li class="list-group-item"  ng-repeat="commodity in commodities | filter:query | orderBy:orderBy">
        <div class="row">
            <div class="col-sm-3">
                <a href="#commodity/{{commodity.id}}">
                    <img src="" alt="sssss">
                </a>
            </div>
            <div class="col-sm-9">
                <blockquote>
                    <a href="#commodity/{{commodity.id}}">
                        <h2>{{commodity.name}}</h2>
                    </a>
                    <footer>{{commodity.brand}}</footer>
                </blockquote>
                <div class="text-right">
                    <h5>￥{{commodity.price}}</h5>
                </div>
            </div>
        </div>
    </li>
</ul>