

<div align="center">


<div class="well" style=" width: 40%; margin: 0 20%  20px 20% ;">
    <h1 class="text-center">
        用户登录
    </h1>

        <form class="form-horizontal" name="userForm">
            <div class="form-group">
                <div class="col-sm-12 form-group-lg">
                    <input name="name" type="text" class="form-control" ng-model="user.name"ng-minlength="4" ng-maxlength="10" required placeholder="UserName">
                    <p class="error" ng-if="userForm.name.$touched && userForm.name.$error.required">用户名不能为空</p>
                    <p class="error" ng-if="userForm.name.$touched && (userForm.name.$error.minlength || userForm.name.$error.maxlength)">用户名长度不小于4位，不大于10位</p>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12 form-group-lg">
                    <input name="passWord" type="password" class="form-control" ng-model="user.passWord" ng-minlength="8" ng-maxlength="10" required placeholder="PassWord">
                    <p class="error" ng-if="userForm.passWord.$touched && userForm.passWord.$error.required">密码不能为空</p>
                    <p class="error" ng-if="userForm.passWord.$touched && (userForm.passWord.$error.minlength || userForm.passWord.$error.maxlength)">密码长度不小于8位，不大于10位</p>
                </div>
            </div>
            <div class="form-group" >
                <div class="col-sm-12" align="center">
                    <button type="submit" class="btn btn-primary btn-lg btn-block ">Sign in</button>
                </div>
            </div>
        </form>

</div>
</div>
